<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Indice</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<form th:action="@{/nuevaCategoria}">
    <input type="submit" value="Ingresar una categoria">
</form>
<br>
<form th:action="@{/nuevoLibro}">
    <input type="submit" value="Ingresar un libro">
</form>
<br>
<form th:action="@{/libros}">
    <input type="submit" value="Ver libros">
</form>

<br>

<h1 class="success" th:text="${mensaje}"/>

</body>
</html>