<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Lista de libros</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<table>
    <thead>
    <th>Titulo</th>
    <th>Autor</th>
    <th>ISBN</th>
    <th>Categoria</th>
    <th>Fecha de ingreso</th>
    </thead>
    <th:block th:each="libro, row: ${libros}">
        <tr>
            <th th:text="${libro.nombre}"/>
            <th th:text="${libro.autor}"/>
            <th th:text="${libro.isbn}"/>
            <th th:text="${libro.categoria.nombreCategoria}"/>
            <th th:text="${#dates.format(libro.fechaIngreso, 'dd-MM-yyyy hh:mm a')}"/>
        </tr>
    </th:block>
</table>
<form th:action="@{/index}">
    <input type="submit" value="Regresar">
</form>

</body>
</html>